
<div class="panel panel-primary">
    <div class="panel-heading">
        Step 1
    </div>
    <div class="panel-body">

    </div>
    @*<div class="panel-footer">
            Panel Footer
        </div>*@
</div>


