
<div class="panel panel-primary">
    <div class="panel-heading">
        Step 1
    </div>
    <div class="panel-body">
        <div class="col-lg-5">
            <div class="form-group">
                <label>Reg. No: </label>
                <input type="number" class="form-control" @*ng-init="registration_no="*@ ng-model="registration_no">
                {{registration_no}}
            </div>
        </div>
        <div class="col-lg-5 right">
            <div class="form-group">
                <label>Date: </label>
                <input class="form-control" ng-model="admit_date">
                {{admit_date}}
            </div>
            
        </div>
        <div class="col-lg-5">b</div>
        <div class="col-lg-5">c</div>
    </div>
    @*<div class="panel-footer">
            Panel Footer
        </div>*@
</div>




