@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
   <div class="col-md-6">
       <p>Reg No. </p>
   </div>

    <div class="col-md-6">
        <p>Date: </p>
    </div>
</div>

